<div class="row">	
  <div class="col-md-10 col-md-offset-1">
		<h1 class="page-header text-center">Your Dashboard &mdash; Welcome, {{user.screen_name}}!</h1>
		<h2>Your Profile</h2>
		<div id="profile-wrap">
  		<br><strong>Your name:</strong> {{(user.name.first === null && user.name.last === null) ? 'Not given' : user.name.first + ' ' + user.name.last}}
  		<br><strong>Email:</strong> {{user.email}}
  		<br><strong>Screen name:</strong> {{user.screen_name}}
  		<br><strong>Location:</strong> {{(user.location.city === null && user.location.state === null) ? 'Not given' : user.location.city + ', ' + user.location.state}}
      <br><br>
      <p>
        <a href="#/users/{{user._id}}/edit" class="btn" id="edit-btn">
          Edit Profile
        </a>
      </p>
    </div>
  </div>
</div>
<div class="trade-results">
	<p ng-show="!areTrades">You have not added any trades. <a href="#/search">Search for titles to add</a> or <a href="#/trades/add"> add your trade manually</a>.</p>
  <br>
	<div ng-show="areTrades">
	  <p>You have <strong>{{trades.length}}</strong> active {{trades.length > 1 || trades.length == 0 ? 'trades' : 'trade'}}.</p>
	  <ul>
	    <li ng-if="offers > 0"><strong>Offers:</strong> {{offers}}</li>
	    <li ng-show="noOffers >= 1"><strong>No Offers:</strong> {{noOffers}}</li>
	  </ul>
	  <br>
		<div class="clearfix trade-rows" ng-if="$index % 4 == 0"></div>
		<div ng-repeat="trade in trades | orderBy: '-created_at'" class="col-md-2 trade-item">
			<apan tooltips tooltip-side="right" tooltip-speed="medium" tooltip-template="{{trade.title}}<br> Trader: <strong>{{trade.trader}}</strong>">
			<div class="triangle {{trade.user_wants === null ? ' no-offer' : ' offer'}}">
				<span>{{trade.offer_made === false ? 'No offer' : 'Offer made'}}</span>
			</div>
			<a href="#/trades/{{trade._id}}">
				<img ng-src="{{trade.cover_url}}" class="center-block">
			</a>
		</div>
	</div>
</div>

